#{extends 'main.html' /}
#{set title:'WhosLookin Poller' /}
#{set 'moreMetas'}
<meta id="username" name="username" content="${params.username}">
<meta id="issue" name="issue" content="${params.issue}">
<meta id="poller-interval-seconds" name="poller-interval-seconds" content="${pollTime}">
<style>
body {
	color: black;
	font: 12px/1.4 arial, FreeSans, Helvetica, sans-serif;
}
</style>

#{/set} #{set 'moreScripts'}#{script 'poller.js'/}
<script src="${jiraBase}/remoteapps/all.js" type="text/javascript"></script>
#{/set}

<script type="text/javascript">
  RA.init();
  RA.resize(1, 1);
  Poller.onSuccess = function(data) {
    if (data.length > 1) {
      var title = data.length + ' people are viewing this page: '
      var userNames = [];
      $.each(data, function() {
        // limit length to 20 usernames
        if (userNames.length > 20) {
            userNames.push("...");
            return false;
        }      
        userNames.push(this.name);
      });
      RA.showMessage('whoslookin-message', title, userNames.join(', '));
    } else {
      RA.clearMessage('whoslookin-message');
    }

  }
  Poller.onError = function(jqXHR, textStatus, errorThrown) {
    RA.clearMessage('whoslookin-message');
    RA.showMessage('whoslookin-message', "Could not determine who\'s looking at this page.", textStatus);
  }
  RA.getLocation(function(result) { Poller.issue = result; Poller.poll()} );
  RA.getUser(function(result) { Poller.username = result.fullName; Poller.poll()} );
</script>